*{margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/dung-anh-64706-unsplash.jpg);
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	text-shadow: 1px 1px 2px black;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #af7547;

}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	min-width: 1200PX;
	margin: auto;
}
/*/--------------------------------------------------*/
.bimn{

	float:none;
	font-size: 20px;
	line-height: 2;

	padding: 5px;
	color: #fff;

}
.ttu{
top: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/david-pisnoy-660309-unsplash.jpg);
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #fff;
	font-size: 22px;
}
.nanot{

position: relative; 
	float: left;
	font-size: 20px;
	line-height:1.5;
	color: #fff;
	padding: 5px;
}
.button{
	position:sticky;
	top: 90%;
	left: 70%;
	transform:translate(-50%,-50%);

}
.btn{
	
	border: 1px solid#fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}
.btn:hover{
	background-color: #fff;
	color: #000;

}
.nanoot{

position: relative; 
	float: left;
	font-size: 20px;
	line-height:1.5;
	color: #fff;
	padding: 5px;
}

.car{
	padding: 5px 20px;
	position: relative;
	display: inline-block;
	width: 100px;
	top: 140px;
	left: 55px;
}